header.p-3.border-bottom.bg-light.sticky-top
    .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
            a.d-flex.align-items-center.mb-2.mb-lg-0.text-dark.text-decoration-none(href='/') NONTON
            ul.nav.col-12.col-lg-auto.ms-lg-auto.mb-2.justify-content-center.mb-md-0
                li
                    a.nav-link.px-2.link-secondary(href='/home.html') Home
                li
                    a.nav-link.px-2.link-dark(href='#') Sports
                li
                    a.nav-link.px-2.link-dark(href='#') TV Shows
                li
                    a.nav-link.px-2.link-dark(href='#') Movies 
                li
                    a.nav-link.px-2.link-dark(href='#') Kids
                li
                    div.nav-link.px-2.link-dark.dropdown-toggle#dropdownUser1(data-bs-toggle="dropdown" aria-expanded="false" type="button") More
                    ul.dropdown-menu(aria-labelledby="dropdownUser1")
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Top Picks
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Anime
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') News
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Music
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Lifestyle
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Entertainment 
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Education 
                        li 
                            a.nav-link.px-2.link-dark.dropdown-item(href='#') Fantasy Team
            form.col-12.col-lg-auto.mb-3.mb-lg-0.ms-lg-3
                input.form-control(type='search' placeholder='Search...' aria-label='Search')